.icons {
    position: absolute;
    font-size: 1.5em;
    top: 4px;
    right: 16px;
}

.card-header{
    position: relative;
}

.mainheader {
    font-size: 100px;
    padding: 20px;
    font-family: 'Fredericka the Great', cursive;
}

.sortbtn {
    padding: 10px 0 0 0;
}

.offset-8 { 
    margin-left: 70%;
}